div {
  margin-top: 20px;
  border: 3px ridge #e713ee;
  padding: 10px;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: aquamarine;
  color: brown;
}